.nav-css a{
    margin-right: 20px;
    text-decoration: none;
    font-size: 22px;
    padding: 5px;
     
    font-weight: 500;
}
.navbar{
    background-color: rgb(247, 247, 247);
}
.btn-singout{
    background-image: linear-gradient(to right, #f78254d8 0%, #aa0505  51%, #f3773d  100%);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 19px;
    border: none;
    transition: .6s;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(148, 80, 35, 0.418);
    background-size: 200% auto;
    text-transform: uppercase;
}
         


  .btn-singout:hover {
    background-position: right center;
    color: azure; /* change the direction of the change here */
   
  }
  .p-img{
    box-shadow: 0 0 30px rgba(238, 49, 16, 0.747);
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
 